@import '../../variables';
@import '../../mixins';
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.bookDetails__container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 2.5rem auto 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    position: relative;
    gap: 1rem;

    @include device(950px) {
        grid-template-columns: 45% 55%;
    }

    @include device(550px) {
        grid-template-columns: 1fr;
    }
}

.bookImage__container {
    width: 100%;
    height: 500px;

    @include device(650px) {
        height: auto;
    }

    @include device(550px) {
        width: 100%;
    }

    img {
        height: 100%;
        object-fit: cover;

        @include device(550px) {
            width: 100%;
        }
    }

}

.book__content {
    h2 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Aboreto', cursive;
    }

    h3 {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: $primary-text;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-weight: 600;
    }

    hr {
        margin-bottom: 10px;
        background-color: lightgray;
        height: 1px;
        border: none
    }

    p {
        font-size: 0.97rem;
        font-weight: 400;
        margin-bottom: 10px;
        letter-spacing: 1px;
        line-height: 1.6;
        color: rgb(70, 70, 70)
    }
}



.addToCart__button--container {
    display: flex;
    align-items: center;
    gap: 20px;

    .bookDetails__addToCart--btn {
        @include button() {
            display: flex;
            align-items: center;
        }
    }

    .bookDetails__goToCart--btn {
        @include button() {
            display: flex;
            align-items: center;
            background-color: #1F8A70;

            &:hover {
                background-color: #209174;
            }
        }

        .icon {
            width: 1.2rem;
            height: 1.2rem;
            margin-left: 10px;
        }
    }
}