@import '../../mixins';

.books__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 20px;
    margin: 2.5rem 0;
    padding: 0 2rem;

    @include device(768px) {
        grid-template-columns: repeat(2, auto);
    }

    @include device(680px) {
        grid-template-columns: repeat(1, auto);
    }
}