@import '../../variables';
@import '../../mixins';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background: #232526;



    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity: 0.3;
    //     background-color: #DDDDDD;
    //     z-index: -1;
    // }

    @include device(650px) {
        padding: 0 0;
    }
}

.navbar__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    overflow: hidden;

    @include device(550px) {
        margin: 0 0.5rem
    }

    .navbar__logo {
        display: flex;
        align-items: center;
        height: 100%;
        text-transform: capitalize;
        color: white;
        font-size: 1.8rem;
        font-weight: 600;

        .icon {
            margin-right: 0.5rem;
        }

        @include device(500px) {
            font-size: 1.3rem;
        }
    }

    .navbar__menu--icons {
        display: none;
        width: 1.2rem;
        height: 1.2rem;

        @include device(500px) {
            display: block;
            color: white;
        }
    }

    .navbar__links--container {
        height: 100%;
        display: flex;

        @include device(500px) {
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: -100%;
            flex-direction: column;
            background: linear-gradient(to top, #2b5876, #4e4376);
            height: 100vh;
            width: 100%;
            transition: all 0.3s ease-in-out;
            z-index: -1;


            &.mobile__nav--active {
                left: 0
            }
        }



        li {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            transition: 0.2s ease-in-out;

            @include device(500px) {
                &:hover {
                    border-bottom: none;
                }

                margin: 2rem 0;
            }

            .nav__link--active {
                color: #222222;
                font-size: 0.95rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 100% 0;
                transition: all 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                padding: 5px 15px;
                background-color: #DDDDDD;
                font-weight: 600;

                &:hover {
                    opacity: 0.9;

                }
            }

            .nav__link--deactivate {
                color: #969696;
                font-size: 0.95rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 100% 0;
                transition: all 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                padding: 5px 15px;
                font-weight: 600;

                &:hover {
                    color: #222222;
                    opacity: 0.9;
                    background-color: #DDDDDD;
                }
            }

            .icon {
                margin-right: 0.5rem;
                color: $primary-text;
            }
        }
    }
}